.tech-stack-page {
  margin-top: 50px;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-stack-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.tech-stack-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 50px;
  max-width: 600px;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.tech-stack-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.tech-stack-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.tech-icon {
  font-size: 4rem;

  margin-bottom: 10px;
  display: block;
}

.tech-stack-box h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.tech-stack-box p {
  font-size: 0.9rem;
  color: #666;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: #ff005e;
  text-align: center;
  /* font-style: italic; */
}
